WebTest/Service References/SMSService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SendSMSPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sendtime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValidTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppendID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSMSPostResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>