trunk/SmsService/Service References/SMSService/SMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SMSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ISMSService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://windows-obqwgow:53880/SMSService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://windows-obqwgow:53880/SMSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISMSService_SendSMSGet_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSMSGet" />
  </wsdl:message>
  <wsdl:message name="ISMSService_SendSMSGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSMSGetResponse" />
  </wsdl:message>
  <wsdl:message name="ISMSService_SendSMSPost_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSMSPost" />
  </wsdl:message>
  <wsdl:message name="ISMSService_SendSMSPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSMSPostResponse" />
  </wsdl:message>
  <wsdl:message name="ISMSService_QueerySMSCount_InputMessage">
    <wsdl:part name="parameters" element="tns:QueerySMSCount" />
  </wsdl:message>
  <wsdl:message name="ISMSService_QueerySMSCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueerySMSCountResponse" />
  </wsdl:message>
  <wsdl:portType name="ISMSService">
    <wsdl:operation name="SendSMSGet">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMSService/SendSMSGet" message="tns:ISMSService_SendSMSGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMSService/SendSMSGetResponse" message="tns:ISMSService_SendSMSGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSMSPost">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMSService/SendSMSPost" message="tns:ISMSService_SendSMSPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMSService/SendSMSPostResponse" message="tns:ISMSService_SendSMSPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueerySMSCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMSService/QueerySMSCount" message="tns:ISMSService_QueerySMSCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMSService/QueerySMSCountResponse" message="tns:ISMSService_QueerySMSCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISMSService" type="tns:ISMSService">
    <wsp:PolicyReference URI="#WSHttpBinding_ISMSService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMSGet">
      <soap12:operation soapAction="http://tempuri.org/ISMSService/SendSMSGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSPost">
      <soap12:operation soapAction="http://tempuri.org/ISMSService/SendSMSPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueerySMSCount">
      <soap12:operation soapAction="http://tempuri.org/ISMSService/QueerySMSCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSService">
    <wsdl:port name="WSHttpBinding_ISMSService" binding="tns:WSHttpBinding_ISMSService">
      <soap12:address location="http://windows-obqwgow:53880/SMSService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://windows-obqwgow:53880/SMSService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>